deployments/nifi-clusters/get-gdelt.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>75bc5132-0183-1000-f251-755d1524e3dc</groupId>
    <name>terst</name>
    <snippet>
        <processGroups>
            <id>36a1b2fe-1e9c-3511-0000-000000000000</id>
            <parentGroupId>9fdd89bc-eb62-3d9e-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>57bbe836-2c46-3fa8-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>29609019-03ba-3b20-0000-000000000000</groupId>
                        <id>11ce09cf-decc-3f6f-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>d28bdc45-a799-3c83-0000-000000000000</groupId>
                        <id>9bada2bb-9f70-3078-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>60f5709e-13d6-3013-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>36309741-1e55-36cb-0000-000000000000</groupId>
                        <id>96f36c70-d98b-38bf-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
                        <id>bbc1d05d-53f5-39ac-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>6793775c-837f-3e41-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>2488.0</x>
                        <y>344.0</y>
                    </position>
                    <height>552.0</height>
                    <label>Build Search Engine
</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffd4e8</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>448.0</width>
                </labels>
                <labels>
                    <id>69962366-ca68-3499-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>1552.0</x>
                        <y>344.0</y>
                    </position>
                    <height>552.0</height>
                    <label>Data Ingest and Publish</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>464.0</width>
                </labels>
                <labels>
                    <id>82b99eaa-1670-31b2-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>2032.0</x>
                        <y>344.0</y>
                    </position>
                    <height>280.0</height>
                    <label>Batch Processing</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d4fdff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>440.0</width>
                </labels>
                <labels>
                    <id>b258f2b3-3bb0-3fb4-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>2032.0</x>
                        <y>640.0</y>
                    </position>
                    <height>256.0</height>
                    <label>Subscribe and Write to Data Lake</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d6ffde</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>440.0</width>
                </labels>
                <labels>
                    <id>efdc1496-4a4e-3eb7-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>2952.0</x>
                        <y>344.0</y>
                    </position>
                    <height>552.0</height>
                    <label>Analytics and Dashboard</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffd1d1</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>448.0</width>
                </labels>
                <processGroups>
                    <id>29609019-03ba-3b20-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>2520.0</x>
                        <y>408.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>501fcd82-9657-3cce-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>29609019-03ba-3b20-0000-000000000000</groupId>
<id>cdc933d0-50c1-33c5-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>29609019-03ba-3b20-0000-000000000000</groupId>
<id>a540ef5c-14e6-3a5c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7a79c504-428b-3a99-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>29609019-03ba-3b20-0000-000000000000</groupId>
<id>cc925c42-8e79-3bd7-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>29609019-03ba-3b20-0000-000000000000</groupId>
<id>a540ef5c-14e6-3a5c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9591f6b6-6a51-3ec1-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>29609019-03ba-3b20-0000-000000000000</groupId>
<id>a540ef5c-14e6-3a5c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>29609019-03ba-3b20-0000-000000000000</groupId>
<id>11ce09cf-decc-3f6f-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>8d005862-6e28-3045-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-ssl-context-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <descriptors>
<entry>
    <key>Keystore Filename</key>
    <value>
        <name>Keystore Filename</name>
    </value>
</entry>
<entry>
    <key>Keystore Password</key>
    <value>
        <name>Keystore Password</name>
    </value>
</entry>
<entry>
    <key>key-password</key>
    <value>
        <name>key-password</name>
    </value>
</entry>
<entry>
    <key>Keystore Type</key>
    <value>
        <name>Keystore Type</name>
    </value>
</entry>
<entry>
    <key>Truststore Filename</key>
    <value>
        <name>Truststore Filename</name>
    </value>
</entry>
<entry>
    <key>Truststore Password</key>
    <value>
        <name>Truststore Password</name>
    </value>
</entry>
<entry>
    <key>Truststore Type</key>
    <value>
        <name>Truststore Type</name>
    </value>
</entry>
<entry>
    <key>SSL Protocol</key>
    <value>
        <name>SSL Protocol</name>
    </value>
</entry>
                            </descriptors>
                            <name>StandardRestrictedSSLContextService</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Keystore Filename</key>
</entry>
<entry>
    <key>Keystore Password</key>
</entry>
<entry>
    <key>key-password</key>
</entry>
<entry>
    <key>Keystore Type</key>
</entry>
<entry>
    <key>Truststore Filename</key>
</entry>
<entry>
    <key>Truststore Password</key>
</entry>
<entry>
    <key>Truststore Type</key>
</entry>
<entry>
    <key>SSL Protocol</key>
    <value>TLS</value>
</entry>
                            </properties>
                            <state>DISABLED</state>
                            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
                        </controllerServices>
                        <funnels>
                            <id>cc925c42-8e79-3bd7-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <position>
<x>480.0</x>
<y>600.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>cdc933d0-50c1-33c5-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <position>
<x>808.0</x>
<y>752.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>11ce09cf-decc-3f6f-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <position>
<x>928.0</x>
<y>336.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>News In</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>a540ef5c-14e6-3a5c-0000-000000000000</id>
                            <parentGroupId>29609019-03ba-3b20-0000-000000000000</parentGroupId>
                            <position>
<x>928.0</x>
<y>464.0</y>
                            </position>
                            <bundle>
<artifact>nifi-elasticsearch-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>
            <name>elasticsearch-http-url</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>
            <name>elasticsearch-http-connect-timeout</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>
            <name>elasticsearch-http-response-timeout</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
        <value>
            <name>elasticsearch-http-proxy-host</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
        <value>
            <name>elasticsearch-http-proxy-port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-username</key>
        <value>
            <name>proxy-username</name>
        </value>
    </entry>
    <entry>
        <key>proxy-password</key>
        <value>
            <name>proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
        <value>
            <name>put-es-id-attr</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>
            <name>put-es-index</name>
        </value>
    </entry>
    <entry>
        <key>put-es-type</key>
        <value>
            <name>put-es-type</name>
        </value>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>
            <name>put-es-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>
            <name>put-es-index-op</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>https://elastic-es-http:9200</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>8d005862-6e28-3045-0000-000000000000</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Username</key>
        <value>elastic</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
    </entry>
    <entry>
        <key>proxy-username</key>
    </entry>
    <entry>
        <key>proxy-password</key>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>news</value>
    </entry>
    <entry>
        <key>put-es-type</key>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>index</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutElasticsearchHttp</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Search Engine Indices</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>36309741-1e55-36cb-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>1584.0</x>
                        <y>680.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>276f556d-f60b-3331-0000-000000000000</id>
                            <parentGroupId>36309741-1e55-36cb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>36309741-1e55-36cb-0000-000000000000</groupId>
<id>293ce185-3224-37a7-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>36309741-1e55-36cb-0000-000000000000</groupId>
<id>96f36c70-d98b-38bf-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c0c666dc-fa01-3ee1-0000-000000000000</id>
                            <parentGroupId>36309741-1e55-36cb-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>36309741-1e55-36cb-0000-000000000000</groupId>
<id>ad085cee-d200-3b20-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>36309741-1e55-36cb-0000-000000000000</groupId>
<id>293ce185-3224-37a7-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>ad085cee-d200-3b20-0000-000000000000</id>
                            <parentGroupId>36309741-1e55-36cb-0000-000000000000</parentGroupId>
                            <position>
<x>3030.0</x>
<y>808.0</y>
                            </position>
                        </funnels>
                        <inputPorts>
                            <id>96f36c70-d98b-38bf-0000-000000000000</id>
                            <parentGroupId>36309741-1e55-36cb-0000-000000000000</parentGroupId>
                            <position>
<x>2640.0</x>
<y>432.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Raw News In</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>293ce185-3224-37a7-0000-000000000000</id>
                            <parentGroupId>36309741-1e55-36cb-0000-000000000000</parentGroupId>
                            <position>
<x>2584.0</x>
<y>568.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-6-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>use-transactions</propertyName>
            </dependencies>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>kafka-key</key>
        <value>
            <name>kafka-key</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>kafka-headless:29092</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>newsitem</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>acks</key>
        <value>all</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>GSSAPI</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>kafka-key</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Publish to Kafka (newsitem)</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Publish Raw News to Kafka</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>478fdac8-d0a4-3a21-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>1584.0</x>
                        <y>392.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1948ff0b-9851-3477-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>980c410c-a1dd-3340-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8124279d-b4f9-3ac3-8088-c5926ba45663</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>6e84aaa6-8278-3f09-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>78d563e2-abea-3981-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>6e84aaa6-8278-3f09-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>276687c9-a716-355f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7c63ec0d-7a4b-3bb8-ad20-201cf5679f9e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9f32e1c2-55f0-30b6-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <versionedComponentId>9f4602d1-eb53-3b15-9a0d-9764241620d7</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>8e6e1511-1669-3631-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>646d5610-7baf-31fd-9a8e-d971fc904101</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>b83e00ef-7f20-357e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>febfe0ff-5653-36c6-bad0-9c01871fc95f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c7bb837f-d382-350e-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <versionedComponentId>ffae90cb-dcc8-3173-8cab-ca5ad8523438</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>b83e00ef-7f20-357e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>febfe0ff-5653-36c6-bad0-9c01871fc95f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>980c410c-a1dd-3340-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8124279d-b4f9-3ac3-8088-c5926ba45663</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d3541843-c0a5-3414-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>bbc1d05d-53f5-39ac-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>aae586c4-dbd7-3c97-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>21ace27c-3cfc-3801-a6a2-5ba686438776</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d7a10432-0103-3431-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <versionedComponentId>5792b97b-b115-302e-b0f3-614f634b718f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>276687c9-a716-355f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7c63ec0d-7a4b-3bb8-ad20-201cf5679f9e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>b8c6f298-93ba-30bd-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b012d664-afdb-3c4c-91bc-89aa37d26419</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e5b9451b-691d-3266-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>276687c9-a716-355f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>7c63ec0d-7a4b-3bb8-ad20-201cf5679f9e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>97010a35-0399-3275-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e8cc6bd7-ae89-3039-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <versionedComponentId>cb0a40d0-3083-34a8-8d04-7bceefef3505</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>aae586c4-dbd7-3c97-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>21ace27c-3cfc-3801-a6a2-5ba686438776</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>65b79bf6-4bf8-3611-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ca4da768-c220-321d-96c5-5013f4929aec</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f9796f5d-ecc9-33f2-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <versionedComponentId>c944c330-f67a-3f5e-9cdf-d1d3e3349ea9</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>65b79bf6-4bf8-3611-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ca4da768-c220-321d-96c5-5013f4929aec</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>478fdac8-d0a4-3a21-0000-000000000000</groupId>
<id>8e6e1511-1669-3631-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>646d5610-7baf-31fd-9a8e-d971fc904101</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>9957f488-dd57-3bc1-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <versionedComponentId>b423d75c-59f5-33f5-94f0-2e4ceb7ec14b</versionedComponentId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>
        <name>csv-reader-csv-parser</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>CSV Format</key>
    <value>
        <name>CSV Format</name>
    </value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Value Separator</name>
    </value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Record Separator</name>
    </value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>
        <name>Skip Header Line</name>
    </value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>
        <name>ignore-csv-header</name>
    </value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Quote Character</name>
    </value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Escape Character</name>
    </value>
</entry>
<entry>
    <key>Comment Marker</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Comment Marker</name>
    </value>
</entry>
<entry>
    <key>Null String</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Null String</name>
    </value>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>Trim Fields</name>
    </value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>
        <name>csvutils-character-set</name>
    </value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>
        <dependencies>
            <dependentValues>custom</dependentValues>
            <propertyName>CSV Format</propertyName>
        </dependencies>
        <name>csvutils-allow-duplicate-header-names</name>
    </value>
</entry>
                            </descriptors>
                            <name>CSVReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>csv-header-derived</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>csv-reader-csv-parser</key>
    <value>commons-csv</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>CSV Format</key>
    <value>custom</value>
</entry>
<entry>
    <key>Value Separator</key>
    <value>\t</value>
</entry>
<entry>
    <key>Record Separator</key>
    <value>\n</value>
</entry>
<entry>
    <key>Skip Header Line</key>
    <value>false</value>
</entry>
<entry>
    <key>ignore-csv-header</key>
    <value>false</value>
</entry>
<entry>
    <key>Quote Character</key>
    <value>"</value>
</entry>
<entry>
    <key>Escape Character</key>
    <value>\</value>
</entry>
<entry>
    <key>Comment Marker</key>
</entry>
<entry>
    <key>Null String</key>
</entry>
<entry>
    <key>Trim Fields</key>
    <value>true</value>
</entry>
<entry>
    <key>csvutils-character-set</key>
    <value>UTF-8</value>
</entry>
<entry>
    <key>csvutils-allow-duplicate-header-names</key>
    <value>true</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.csv.CSVReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>c6fe8239-33b9-399f-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <versionedComponentId>9f85c4ff-f509-342a-8439-21a638ff5b70</versionedComponentId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Schema Write Strategy</key>
    <value>
        <name>Schema Write Strategy</name>
    </value>
</entry>
<entry>
    <key>schema-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-cache</name>
    </value>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>
        <dependencies>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>Schema Write Strategy</propertyName>
        </dependencies>
        <name>schema-protocol-version</name>
    </value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <dependencies>
            <dependentValues>confluent-encoded</dependentValues>
            <dependentValues>schema-name</dependentValues>
            <dependentValues>hwx-schema-ref-attributes</dependentValues>
            <dependentValues>hwx-content-encoded-schema</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <dependencies>
            <dependentValues>schema-name</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <dependencies>
            <dependentValues>schema-text-property</dependentValues>
            <propertyName>schema-access-strategy</propertyName>
        </dependencies>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>
        <name>Pretty Print JSON</name>
    </value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>
        <name>suppress-nulls</name>
    </value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>
        <name>output-grouping</name>
    </value>
</entry>
<entry>
    <key>compression-format</key>
    <value>
        <name>compression-format</name>
    </value>
</entry>
<entry>
    <key>compression-level</key>
    <value>
        <dependencies>
            <dependentValues>gzip</dependentValues>
            <propertyName>compression-format</propertyName>
        </dependencies>
        <name>compression-level</name>
    </value>
</entry>
                            </descriptors>
                            <name>JsonRecordSetWriter</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Schema Write Strategy</key>
    <value>no-schema</value>
</entry>
<entry>
    <key>schema-cache</key>
</entry>
<entry>
    <key>schema-protocol-version</key>
    <value>1</value>
</entry>
<entry>
    <key>schema-access-strategy</key>
    <value>inherit-record-schema</value>
</entry>
<entry>
    <key>schema-registry</key>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
<entry>
    <key>Pretty Print JSON</key>
    <value>false</value>
</entry>
<entry>
    <key>suppress-nulls</key>
    <value>never-suppress</value>
</entry>
<entry>
    <key>output-grouping</key>
    <value>output-array</value>
</entry>
<entry>
    <key>compression-format</key>
    <value>none</value>
</entry>
<entry>
    <key>compression-level</key>
    <value>1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                        </controllerServices>
                        <labels>
                            <id>0b5f6486-21dd-3917-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>424.0</x>
<y>-232.0</y>
                            </position>
                            <height>40.0</height>
                            <label>
Batch Input</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>22px</value>
</entry>
                            </style>
                            <width>152.0</width>
                        </labels>
                        <labels>
                            <id>fab77d29-a467-31da-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>1200.0</x>
<y>-232.0</y>
                            </position>
                            <height>40.0</height>
                            <label>Streaming Input</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>22px</value>
</entry>
                            </style>
                            <width>184.0</width>
                        </labels>
                        <outputPorts>
                            <id>bbc1d05d-53f5-39ac-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>776.0</x>
<y>872.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Raw News Out</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>276687c9-a716-355f-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>720.0</x>
<y>48.0</y>
                            </position>
                            <versionedComponentId>7c63ec0d-7a4b-3bb8-ad20-201cf5679f9e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Split into files (100)</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                        <processors>
                            <id>65b79bf6-4bf8-3611-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>1160.0</x>
<y>616.0</y>
                            </position>
                            <versionedComponentId>ca4da768-c220-321d-96c5-5013f4929aec</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>GLOBALEVENTID	SQLDATE	MonthYear	Year	FractionDate	Actor1Code	Actor1Name	Actor1CountryCode	Actor1KnownGroupCode	Actor1EthnicCode	Actor1Religion1Code	Actor1Religion2Code	Actor1Type1Code	Actor1Type2Code	Actor1Type3Code	Actor2Code	Actor2Name	Actor2CountryCode	Actor2KnownGroupCode	Actor2EthnicCode	Actor2Religion1Code	Actor2Religion2Code	Actor2Type1Code	Actor2Type2Code	Actor2Type3Code	IsRootEvent	EventCode	EventBaseCode	EventRootCode	QuadClass	GoldsteinScale	NumMentions	NumSources	NumArticles	AvgTone	Actor1Geo_Type	Actor1Geo_FullName	Actor1Geo_CountryCode	Actor1Geo_ADM1Code	Actor1Geo_ADM2Code	Actor1Geo_Lat	Actor1Geo_Long	Actor1Geo_FeatureID	Actor2Geo_Type	Actor2Geo_FullName	Actor2Geo_CountryCode	Actor2Geo_ADM1Code	Actor2Geo_ADM2Code	Actor2Geo_Lat	Actor2Geo_Long	Actor2Geo_FeatureID	ActionGeo_Type	ActionGeo_FullName	ActionGeo_CountryCode	ActionGeo_ADM1Code	ActionGeo_ADM2Code	ActionGeo_Lat	ActionGeo_Long	ActionGeo_FeatureID	DATEADDED	SOURCEURL
</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Prepend</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Add Headers to the CSV</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>6e84aaa6-8278-3f09-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>720.0</x>
<y>248.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Split into files (single)</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                        <processors>
                            <id>8e6e1511-1669-3631-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>1160.0</x>
<y>440.0</y>
                            </position>
                            <versionedComponentId>646d5610-7baf-31fd-9a8e-d971fc904101</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Packaging Format</key>
        <value>
            <name>Packaging Format</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Packaging Format</key>
        <value>use mime.type attribute</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Unzip the Data</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.UnpackContent</type>
                        </processors>
                        <processors>
                            <id>97010a35-0399-3275-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>1120.0</x>
<y>-176.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://data.gdeltproject.org/gdeltv2/lastupdate.txt</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>15 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Get latest CSVs</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>980c410c-a1dd-3340-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>232.0</x>
<y>440.0</y>
                            </position>
                            <versionedComponentId>8124279d-b4f9-3ac3-8088-c5926ba45663</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-named-groups</key>
        <value>
            <name>extract-text-enable-named-groups</name>
        </value>
    </entry>
    <entry>
        <key>url</key>
        <value>
            <name>url</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>extract-text-enable-named-groups</key>
        <value>false</value>
    </entry>
    <entry>
        <key>url</key>
        <value>http.*export\.CSV\.zip</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Extract Relevant URLs</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>aae586c4-dbd7-3c97-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>720.0</x>
<y>616.0</y>
                            </position>
                            <versionedComponentId>21ace27c-3cfc-3801-a6a2-5ba686438776</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>9957f488-dd57-3bc1-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>c6fe8239-33b9-399f-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>1</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Split into JSON blobs</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                        <processors>
                            <id>b83e00ef-7f20-357e-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>720.0</x>
<y>440.0</y>
                            </position>
                            <versionedComponentId>febfe0ff-5653-36c6-bad0-9c01871fc95f</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>${url.0}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Fetch our ZIP Files</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>b8c6f298-93ba-30bd-0000-000000000000</id>
                            <parentGroupId>478fdac8-d0a4-3a21-0000-000000000000</parentGroupId>
                            <position>
<x>328.0</x>
<y>-176.0</y>
                            </position>
                            <versionedComponentId>b012d664-afdb-3c4c-91bc-89aa37d26419</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>http://data.gdeltproject.org/gdeltv2/masterfilelist.txt</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>5 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 week</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Get latest CSVs</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Collect News Data</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>d28bdc45-a799-3c83-0000-000000000000</id>
                    <parentGroupId>36a1b2fe-1e9c-3511-0000-000000000000</parentGroupId>
                    <position>
                        <x>2056.0</x>
                        <y>680.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>611578cf-11a9-368c-0000-000000000000</id>
                            <parentGroupId>d28bdc45-a799-3c83-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d28bdc45-a799-3c83-0000-000000000000</groupId>
<id>9bada2bb-9f70-3078-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>d28bdc45-a799-3c83-0000-000000000000</groupId>
<id>fca4973e-f33d-35ba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>67a0dc18-7ab1-32a2-0000-000000000000</id>
                            <parentGroupId>d28bdc45-a799-3c83-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d28bdc45-a799-3c83-0000-000000000000</groupId>
<id>7385ed30-fba3-3b33-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>d28bdc45-a799-3c83-0000-000000000000</groupId>
<id>fca4973e-f33d-35ba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9c781cf9-53dc-3c2b-0000-000000000000</id>
                            <parentGroupId>d28bdc45-a799-3c83-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d28bdc45-a799-3c83-0000-000000000000</groupId>
<id>fca4973e-f33d-35ba-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>d28bdc45-a799-3c83-0000-000000000000</groupId>
<id>fc374463-e48e-3773-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>9bada2bb-9f70-3078-0000-000000000000</id>
                            <parentGroupId>d28bdc45-a799-3c83-0000-000000000000</parentGroupId>
                            <position>
<x>1496.0</x>
<y>1256.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>News Out</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>7385ed30-fba3-3b33-0000-000000000000</id>
                            <parentGroupId>d28bdc45-a799-3c83-0000-000000000000</parentGroupId>
                            <position>
<x>992.0</x>
<y>1248.0</y>
                            </position>
                            <bundle>
<artifact>nifi-aws-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>3</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Object Key</key>
        <value>
            <name>Object Key</name>
        </value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>
            <name>Bucket</name>
        </value>
    </entry>
    <entry>
        <key>Content Type</key>
        <value>
            <name>Content Type</name>
        </value>
    </entry>
    <entry>
        <key>Content Disposition</key>
        <value>
            <name>Content Disposition</name>
        </value>
    </entry>
    <entry>
        <key>Cache Control</key>
        <value>
            <name>Cache Control</name>
        </value>
    </entry>
    <entry>
        <key>Access Key</key>
        <value>
            <name>Access Key</name>
        </value>
    </entry>
    <entry>
        <key>Secret Key</key>
        <value>
            <name>Secret Key</name>
        </value>
    </entry>
    <entry>
        <key>Credentials File</key>
        <value>
            <name>Credentials File</name>
        </value>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
            <name>AWS Credentials Provider service</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
        <value>
            <name>s3-object-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>
            <name>s3-object-remove-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>
            <name>Storage Class</name>
        </value>
    </entry>
    <entry>
        <key>Region</key>
        <value>
            <name>Region</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
        <value>
            <name>Expiration Time Rule</name>
        </value>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>
            <name>FullControl User List</name>
        </value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>
            <name>Read Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>
            <name>Write Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>
            <name>Read ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>
            <name>Write ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>
            <name>canned-acl</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
        <value>
            <name>Endpoint Override URL</name>
        </value>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>
            <name>Signer Override</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>
            <name>Multipart Threshold</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>
            <name>Multipart Part Size</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>
            <name>Multipart Upload AgeOff Interval</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>
            <name>Multipart Upload Max Age Threshold</name>
        </value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>
            <name>s3-temporary-directory-multipart</name>
        </value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>
            <name>server-side-encryption</name>
        </value>
    </entry>
    <entry>
        <key>encryption-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
            <name>encryption-service</name>
        </value>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>
            <name>use-chunked-encoding</name>
        </value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>
            <name>use-path-style-access</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
        <value>
            <name>Proxy Host Port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-name</key>
        <value>
            <name>proxy-user-name</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-password</key>
        <value>
            <name>proxy-user-password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Object Key</key>
        <value>${SQLDATE:substring(0,4)}/${SQLDATE:substring(4,6)}/${SQLDATE:substring(6,8)}/${index_name}.json</value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>newsitems</value>
    </entry>
    <entry>
        <key>Content Type</key>
    </entry>
    <entry>
        <key>Content Disposition</key>
    </entry>
    <entry>
        <key>Cache Control</key>
    </entry>
    <entry>
        <key>Access Key</key>
    </entry>
    <entry>
        <key>Secret Key</key>
    </entry>
    <entry>
        <key>Credentials File</key>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>Standard</value>
    </entry>
    <entry>
        <key>Region</key>
        <value>us-west-2</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>30 secs</value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>${s3.permissions.full.users}</value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>${s3.permissions.read.users}</value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>${s3.permissions.write.users}</value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>${s3.permissions.readacl.users}</value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>${s3.permissions.writeacl.users}</value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>${s3.owner}</value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>${s3.permissions.cannedacl}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
        <value>http://nifi-minio-tennant-headless:9000</value>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>Default Signature</value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>60 min</value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>7 days</value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>${java.io.tmpdir}</value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>None</value>
    </entry>
    <entry>
        <key>encryption-service</key>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>true</value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>false</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
    </entry>
    <entry>
        <key>proxy-user-name</key>
    </entry>
    <entry>
        <key>proxy-user-password</key>
    </entry>
</properties>
<runDurationMillis>2000</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Write to MinIO</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                        </processors>
                        <processors>
                            <id>fc374463-e48e-3773-0000-000000000000</id>
                            <parentGroupId>d28bdc45-a799-3c83-0000-000000000000</parentGroupId>
                            <position>
<x>992.0</x>
<y>856.0</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-2-6-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>Commit Offsets</key>
        <value>
            <name>Commit Offsets</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <dependencies>
                <dependentValues>true</dependentValues>
                <propertyName>Commit Offsets</propertyName>
            </dependencies>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>message-demarcator</key>
        <value>
            <name>message-demarcator</name>
        </value>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>
            <name>separate-by-key</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
            <name>kerberos-user-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>
            <name>key-attribute-encoding</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>kafka-headless:29092</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>newsitem</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi</value>
    </entry>
    <entry>
        <key>Commit Offsets</key>
        <value>true</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>message-demarcator</key>
    </entry>
    <entry>
        <key>separate-by-key</key>
        <value>false</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>GSSAPI</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>kerberos-user-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>key-attribute-encoding</key>
        <value>utf-8</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Read Kafka topic "newsitem"</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
                        </processors>
                        <processors>
                            <id>fca4973e-f33d-35ba-0000-000000000000</id>
                            <parentGroupId>d28bdc45-a799-3c83-0000-000000000000</parentGroupId>
                            <position>
<x>992.0</x>
<y>1048.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.15.3</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>index_name</key>
        <value>
            <name>index_name</name>
        </value>
    </entry>
    <entry>
        <key>SQLDATE</key>
        <value>
            <name>SQLDATE</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>index_name</key>
        <value>$.GLOBALEVENTID</value>
    </entry>
    <entry>
        <key>SQLDATE</key>
        <value>$.SQLDATE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Extract News Date and Index</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Subscribe from Kafka - Write to Data Lake</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Nifi Big Data Demo</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/26/2022 17:53:45 UTC</timestamp>
</template>
